<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <title>Company</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  </head>

  <body>
    <div class="ml-2 mr-2">
      <p>Search for a name in the input field to filter the results.</p>
      <input
        class="w3-input w3-border w3-padding"
        type="text"
        placeholder="Search for employee name.."
        id="myInput"
        onkeyup="myFunction()"
      />
    </div>

    <div class=" table-responsive ml-2 mr-2">
      <table class="table table-hover" id="myTable">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Salary</th>
            <th scope="col">Employee Email Address</th>
            <th scope="col">Bank name</th>
            <th scope="col">Branch</th>
            <th scope="col">Account Name</th>
            <th scope="col">Account Number</th>
          </tr>
        </thead>
        <tbody>
            <%fill.forEach(function(fill) { %>
            <tr>
            <td><%= fill.name %></td>
            <td><%= fill.salary %></td>
            <td><%= fill.empemail %></td>
            <td><%= fill.bname %></td>
            <td><%= fill.branch %></td>
            <td><%= fill.accname %></td>
            <td><%= fill.accnumber %></td>
            </tr>
            <% }); %>
         
        </tbody>
      </table>
    </div>

    <script>
      function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
    </script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>